table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background: linear-gradient(to bottom, #2c3e50, #34495e);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	color: #fff;
  }

  body {
	background-image: url('img/pexels-peter-olexa-3875821.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
	
  
  th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #000;
  }
  
  th {
	background-color: #1abc9c;
  }
  
  a {
	color: #fff;
	text-decoration: none;
  }
  
  @media screen and (max-width: 600px) {
	table {
	  font-size: 14px;
	}
  }
  