body {
  background-image: url('img/pexels-peter-olexa-3875821.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 400px;
  margin: 100px auto;
  background-color: #cacaca77;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #428bca;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button[type="submit"]:hover {
  background-color: #3071a9;
}

.flash-message {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.flash-message.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.flash-message.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
