<!DOCTYPE html>
<html>
<head>
    <title>Proexpress - Documentos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='central-de-documentos.css') }}">
</head>
<body>
    <h1>Documentos do Usuário</h1>
    <table>
        <tr>
            <th>Tipo de arquivo</th>
            <th>Data Referência</th>
            <th>Link para download</th>
        </tr>
        {% for resultado in resultados %}
        <tr>
            <td>{{ resultado[0] }}</td>
            <td>{{ resultado[1] }}</td>
            <td><a href="https://storage.googleapis.com/controldocs-proexpress/{{ resultado[2] }}">Download</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>