<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    {% if msg %}
      <p>{{ msg }}</p>
    {% else %}
      <table>
        <tr>
          <th>Tipo de arquivo</th>
          <th>Data de inclusão</th>
          <th>Link para download</th>
        </tr>
        {% for row in dados %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td><a href="{{ row[2] }}">Download</a></td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </body>
</html>
