<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        .tela-grande {
            width: 500px;
            height: 300px;
            border-radius: 10px;
            background-color: lightblue;
            display: inline-block;
            margin: 20px;
        }
        .botao {
            display: inline-block;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="tela-grande">
        <h1>Tela 1</h1>
        <p>Conteúdo da tela 1</p>
        <a href="{{ url_for('central_de_documentos') }}" class="botao">Central de documentos</a>
    </div>
    <div class="tela-grande">
        <h1>Tela 2</h1>
        <p>Conteúdo da tela 2</p>
        <a href="{{ url_for('central_de_avisos') }}" class="botao">Central de avisos</a>
    </div>
</body>
</html>
