<!DOCTYPE html>
<html>
<head>
	<title>Esqueceu a senha</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-forgot_password.css') }}">
</head>
<body>
	<div class="container">
		<h1>Esqueceu a senha?</h1>
		<p>Insira seu e-mail abaixo para redefinir sua senha.</p>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message[1] }}">{{ message[0] }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form method="POST">
			<label for="email">E-mail:</label>
			<input type="email" name="email" id="email" required>
			<button type="submit">Enviar</button>
		</form>
	</div>
</body>
</html>
